<div class="login-page-main-component">
  <div class="login-page-input-container">
    <form>
      <div class="login-page-title">Logheaza-te in Doctors's Appointment </div>
      <div *ngIf="authFailed === true"
      class="login-page-error-message">Nume utilizator sau parola incorecte</div>

      <div class="login-page-first-input-container">
        <mat-form-field appearance="fill" class="login-page-input">
          <mat-label>Utilizator</mat-label>
          <input matInput #username>
        </mat-form-field>
      </div>

      <div class="login-page-second-input-container">
        <mat-form-field appearance="fill" class="login-page-input">
          <mat-label>Parola</mat-label>
          <input matInput #password type="password" >
        </mat-form-field>
      </div>
    </form>
    <div class="login-page-button-container">
      <button mat-flat-button
        class="login-page-button"
        (click)="login(username.value, password.value)"
        >Logheaza-te</button>
    </div>
  </div>
</div> 
