@import '../../typography.scss';

@mixin input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.login-page-main-component {
  height: 100%;
  width: 100%;
  background-image: url(./../../images/login-design.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-page-input-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 70px;
  padding: 30px;
}

.login-page-title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.14px;
  margin-bottom: 10px;
  color: #3366ff;
  font-weight: bold;
}

.login-page-error-message {
  color: red;
  margin-top: 20px;
}

.login-page-first-input-container {
  @include input-container();
  margin-top: 30px;
}

.login-page-second-input-container {
  @include input-container();
  margin-top: 10px;
}

.login-page-input {
  width: 100%;
}

input {
  height: 22px;
  margin-left: 17px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex  {
  width: 100%;
  background-color: rgb(219, 217, 217);
}

.login-page-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  opacity: 1;
}

.login-page-button {
  color: black;
  background-color: #3366ff;
}
