<h1 mat-dialog-title class="title">Introduceti datele noului doctor:</h1>
<div mat-dialog-content>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Specializare medicala</mat-label>
      <input matInput [(ngModel)]="data.medicalSpeciality" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Nume</mat-label>
      <input matInput [(ngModel)]="data.lastName" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Prenume</mat-label>
      <input matInput [(ngModel)]="data.firstName" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>CNP</mat-label>
      <input matInput [(ngModel)]="data.cnp" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Data nasterii</mat-label>
      <input matInput [(ngModel)]="data.birthDate" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Sex</mat-label>
      <input matInput [(ngModel)]="data.sex" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Numar de telefon</mat-label>
      <input matInput [(ngModel)]="data.phoneNumber" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Adresa de email</mat-label>
      <input matInput [(ngModel)]="data.email" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Judet</mat-label>
      <input matInput [(ngModel)]="data.county" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Oras</mat-label>
      <input matInput [(ngModel)]="data.city" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Strada</mat-label>
      <input matInput [(ngModel)]="data.street" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Numar</mat-label>
      <input matInput [(ngModel)]="data.streetNumber" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Calificarea(primar/specialist)</mat-label>
      <input matInput [(ngModel)]="data.DoctorType" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Data angajarii</mat-label>
      <input matInput [(ngModel)]="data.hiringDate" />
    </mat-form-field>
  </div>


  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Ora incepere program</mat-label>
      <input matInput [(ngModel)]="data.startSchedule" />
    </mat-form-field>
  </div>


  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Ora incheiere program</mat-label>
      <input matInput [(ngModel)]="data.endSchedule" />
    </mat-form-field>
  </div>


</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Anuleaza</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data" class="ok_button">Ok</button>
</div>
