<h1 mat-dialog-title class="title">Introduceti datele noului tomberon:</h1>
<div mat-dialog-content>
  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Locatie</mat-label>
      <input matInput [(ngModel)]="data.location" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Capacitate</mat-label>
      <input matInput [(ngModel)]="data.capacity" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Frecventa colectare</mat-label>
      <select matNativeControl required [(ngModel)]="data.frequency">
        <option value="zilnic">Zilnic</option>
        <option value="saptamanal">Saptamanal</option>
        <option value="lunar">Lunar</option>
      </select>
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label>Tip tomberon</mat-label>
      <select matNativeControl required [(ngModel)]="data.type">
        <option value="plastic">PLASTIC</option>
        <option value="carton">CARTON</option>
        <option value="menajer">MENAJER</option>
        <option value="sticla">STICLA</option>
      </select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Anuleaza</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data" class="ok_button">Ok</button>
</div>
