<h1 mat-dialog-title class="title">Introduceti datele noului tomberon:</h1>
<div mat-dialog-content>
  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label class="required">Locatie</mat-label>
      <input matInput [(ngModel)]="data.location" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label class="required">Capacitate</mat-label>
      <input matInput [(ngModel)]="data.capacity" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label class="required">Frecventa colectare</mat-label>
      <input matInput [(ngModel)]="data.frequency" />
    </mat-form-field>
  </div>

  <div class="input_container">
    <mat-form-field appearance="fill">
      <mat-label class="required">Tip tomberon</mat-label>
      <input matInput [(ngModel)]="data.type" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Anuleaza</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="data" class="ok_button">Ok</button>
</div>
