.doctors-main-container {
  background-image: url('../../images/doctors2.png');
  background-size: cover;
  background-position: left center;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.doctors-inputs-container {
  display: flex;
  min-height: 400px;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
}

.form-container {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.first-form-container {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
}

::ng-deep {
  .mat-form-field-wrapper {
    min-width: 220px;
  }

  .mat-form-field-label {
    color: white;
    font-weight: bolder;
    font-size: large;
  }

  .mat-form-field-underline {
    height: 10px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.75em 0.75em 0 0.75em;
    background-color: rgb(156, 185, 234);
  }

  .mat-form-field-empty.mat-form-field-label {
    font-size: large;
  }
}

.mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;

  .mat-card-subtitle {
    margin-top: 20px;
    color: rgb(239, 160, 15);
    font-size: large;
  }
}

.mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
  border: 1px solid black;
  margin-left: 20px;
}
