<div class="doctors-main-container">
  <div class="doctors-inputs-container">
    <form class="first-form-container">
      <mat-form-field appearance="fill">
        <mat-label>
          <mat-icon class="search-icon">search</mat-icon>
          Cauta un doctor
        </mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>

    <form class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Selecteaza un centru</mat-label>
        <input
          type="text"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form class="form-container">
      <mat-form-field  appearance="fill">
        <mat-label>Selecteaza o specialitate</mat-label>
        <input
          type="text"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
