.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.main_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #3366ff;
}

.table_container {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
}

th.mat-header-cell {
  text-align: center;
  color: #3366ff;
  font-size: larger;
}

.mat-cell,
.mat-footer-cell {
  color: rgba(0, 0, 0, .87);
  text-align: center;
}

.delete_button {
  margin-right: 10px;
  background-color: rgb(246, 100, 100);
}

.edit_button {
  background-color: rgb(103, 199, 103);
}

.add_button {
  background-color: white;
  align-self: center;
  margin-top: 30px;
  max-width: 100px;
}
