.doctors-main-container {
  background-color: #3366ff;
  height: 100%;;
}

.demo-table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  color: #3366ff;
}

.mat-cell {
  text-align: center;
}

.doctors-modal-info {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  //box-shadow: 10px 10px 5px lightblue;
}
