<div class="main-page-container">
  <div class="main-page-menu-container">
    <div class="main-page-menu-title">Doctors's Appointment</div>

    <div class="menu-options-container">
      <div class="menu-option" *ngFor="let item of menuItems">
        <mat-icon class="menu-icon"> {{ item.icon }} </mat-icon>
        <div class="menu-option-text"> {{ item.text }}</div>
      </div>
    </div>
  </div>
  <div class="welcome-message-container">
    <div class="welcome-message"> Bine ai venit in platforma digitala Doctor's Appoiment</div>
  </div>
</div>
