<div class="main_container">
  <div class="table_container">
    <table
      mat-table
      [dataSource]="requestInfo"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Data cerere</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Data_cerere.split("T")[0].split("-").reverse().join(".") }}
        </td>
      </ng-container>

      <ng-container matColumnDef="collectDate">
        <th mat-header-cell *matHeaderCellDef>Data colectare</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.Data_colectare.split("T")[0].split("-").reverse().join(".")
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef>Etapa</th>
        <td mat-cell *matCellDef="let element">{{ element.Etapa }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            (click)="deleteRequest(element.CerereID)"
            class="delete_button"
          >
            Sterge
          </button>
          <!-- <button
            mat-raised-button
            *ngIf="editMode === false || element.ClientID !== idToEdit"
            (click)="editRequest(element.ClientID)"
            class="edit_button"
          >
            Editeaza
          </button>
          <button
            mat-raised-button
            *ngIf="editMode === true && element.ClientID === idToEdit"
            (click)="saveNewRequest(element)"
            class="edit_button"
          >
            Salveaza
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <button mat-raised-button (click)="addRequest()" class="add_button">
    Adauga
  </button>
</div>
