<div class="main_container">
  <div class="table_container">
    <table
      mat-table
      [dataSource]="requestInfo"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Data cerere</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editMode === false || element.CerereID !== idToEdit">
            {{
              element.Data_cerere.split("T")[0].split("-").reverse().join(".")
            }}
          </div>
          <mat-form-field
            appearance="fill"
            *ngIf="editMode === true && element.CerereID === idToEdit"
          >
            <mat-label>Data cerere</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              [(ngModel)]="element.Data_cerere"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="collectDate">
        <th mat-header-cell *matHeaderCellDef>Data colectare</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editMode === false || element.CerereID !== idToEdit">
            {{
              element.Data_colectare.split("T")[0]
                .split("-")
                .reverse()
                .join(".")
            }}
          </div>
          <mat-form-field
            appearance="fill"
            *ngIf="editMode === true && element.CerereID === idToEdit"
          >
            <mat-label>Data colectare</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="element.Data_colectare"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef>Etapa</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="editMode === false || element.CerereID !== idToEdit">
            {{ element.Etapa }}
          </div>
          <mat-form-field
            appearance="fill"
            *ngIf="editMode === true && element.CerereID === idToEdit"
          >
            <mat-label>{{ element.Etapa }}</mat-label>
            <select matNativeControl required [(ngModel)]="element.Etapa">
              <option value="CERERE PLASATA">CERERE PLASATA</option>
              <option value="CERERE CONFIRMATA">CERERE CONFIRMATA</option>
              <option value="CERERE COMPLETATA">CERERE COMPLETATA</option>
            </select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            (click)="deleteRequest(element.CerereID)"
            class="delete_button"
          >
            Sterge
          </button>
          <button
            mat-raised-button
            *ngIf="editMode === false || element.CerereID !== idToEdit"
            (click)="editRequest(element.CerereID)"
            class="edit_button"
          >
            Editeaza
          </button>
          <button
            mat-raised-button
            *ngIf="editMode === true && element.CerereID === idToEdit"
            (click)="saveNewRequest(element)"
            class="edit_button"
          >
            Salveaza
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <button mat-raised-button (click)="addRequest()" class="add_button">
    Adauga
  </button>
</div>
